<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes">
    <meta name="theme-color" content="#000000">
    <title>AI Tutor</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="header">
      <a href="/" class="logo"><img width="30" height="30" src="https://img.icons8.com/plasticine/100/saving-book.png" alt="saving-book"/> AI Tutor</a>
    </div>