<%- include('partials/header') %>
<body>
  <div class="container2">
    <% if (typeof response !== 'undefined' && response) { %>
      <github-md class="response">
        <%= response %>
      </github-md>
    <% } %>
  </div>
  <div class="ipt">
    <%- include('input') %>
  </div>

</body>

<%- include('partials/footer') %>
