

<div class="box">
  <form action="/" method="POST">
    <input
      type="text"
      name="userInput"
      placeholder="Enter your question..."
      required
    />
    <button type="submit">Submit</button>
  </form>


</div>
